In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('DecisionTA.xlsx')

In [3]:
df.head()

   Experience Degree Pay>=20k
0           2     BE        N
1           2     BE        N
2           2     BA        N
3           3   BCom        N
4           3     BE        N

In [5]:
inputs = df.drop('Pay>=20k', axis= 'columns')
target = df['Pay>=20k']

In [27]:
from sklearn.preprocessing import LabelEncoder

In [33]:
le_Degree= LabelEncoder()
target.replace(to_replace=['N','Y'], value=[0,1], inplace=True)

In [36]:
target

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    1
17    1
18    1
19    1
20    1
21    0
22    1
23    1
24    1
Name: Pay>=20k, dtype: int64

In [41]:
target = pd.DataFrame(['target'])

In [42]:
inputs['Degree_n'] = le_Degree.fit_transform(inputs['Degree'])
inputs.head()

   Experience Degree  Degree_n
0           2     BE         3
1           2     BE         3
2           2     BA         0
3           3   BCom         2
4           3     BE         3

In [44]:
#target['Pay>=20k_n'] = target.fit_transform(target['Pay>=20k'])
target.head()

        0
0  target

In [9]:
inputs_n = inputs.drop(['Degree'], axis = 'columns')

In [10]:
from sklearn import tree

In [11]:
model = tree.DecisionTreeClassifier()

In [12]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [13]:
model.score(inputs_n, target)

0.96

In [19]:
y_pred = model.predict(inputs_n)

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
mse= mean_squared_error(target, y_pred)

ValueError: could not convert string to float: 'N'